html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  background-color: #202020;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #202020;
  }
}

.pageFlex {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 100%;
  width: 100%;
}
