.inputContainer {
  width: 100%;
  background-color: #1a1a1a;
  padding: 16px;
  border-radius: 4px;
}

.inputContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .inputLabel {
    font-size: 0.8rem;
    color: #929292;
  }

  & .inputError {
    font-size: 12px;
    text-transform: uppercase;
    color: #ff0000;
  }
}

.inputField {
  margin-top: 4px;
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0;
  font-family: 'Inter';
  font-size: 16px;
  width: 100%;
}
